services:
  app:
    image: mcr.microsoft.com/devcontainers/base:bookworm
    volumes:
      - .:/workspaces/sqruff-github-actions-example:cached
    working_dir: /workspaces/sqruff-github-actions-example
    command: sleep infinity

  db:
    image: postgres:18
    volumes:
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db